# Python 3.9.21

aiofiles==24.1.0
aiohappyeyeballs
aiohttp
aiosignal
altair==5.5.0
annotated-types
anyio
async-timeout
attrs
backoff==2.2.1
Brotli
cachetools
certifi
cffi
charset-normalizer
chromadb==0.3.29
click==8.1.8
clickhouse-connect==0.8.17
cloudpickle
colorama
coloredlogs==15.0.1
contourpy
cryptography
cycler
dataclasses-json
decorator
distro==1.9.0
duckdb==1.2.2
exceptiongroup
Farama-Notifications
fastapi==0.85.1
ffmpy==0.5.0
filelock
flatbuffers==25.2.10
fonttools
frozenlist
fsspec
google-api-core
google-auth
googleapis-common-protos
gradio==3.36.0
gradio_client==0.2.7
greenlet
gymnasium
h11
h2
highway-env==1.8.2
hnswlib==0.8.0
hpack
httpcore
httptools==0.6.4
httpx
huggingface-hub==0.30.2
humanfriendly==10.0
hyperframe
idna
imageio
imageio-ffmpeg
importlib_metadata
importlib_resources
jax-jumpy
Jinja2
jsonpatch
jsonpointer
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
kiwisolver
langchain
langsmith==0.0.92
linkify-it-py==2.0.3
lz4==4.4.4
markdown-it-py==2.2.0
MarkupSafe
marshmallow
matplotlib
mdit-py-plugins==0.3.3
mdurl
moviepy
mpmath
multidict
munkres==1.1.4
mypy_extensions
narwhals==1.37.1
networkx
numexpr
numpy
onnxruntime==1.19.2
openai
openapi-schema-pydantic
orjson
overrides==7.7.0
packaging
pandas==2.2.3
pillow
ply
posthog==4.0.1
proglog
propcache
proto-plus
protobuf==5.29.3
pulsar-client==3.6.1
pyasn1
pyasn1_modules
pybind11
pybind11_global
pycparser
pydantic==1.10.22
pydantic_core
pydub==0.25.1
pygame==2.6.1
Pygments
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5_sip
pyreadline3==3.5.4
PySocks
python-dateutil
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2025.2
pyu2f
PyYAML
referencing==0.36.2
regex
requests
requests-toolbelt
rich
rpds-py==0.24.0
rsa
scipy==1.13.1
semantic-version==2.10.0
sip
six
sniffio
SQLAlchemy
starlette==0.20.4
sympy
tenacity
tiktoken
tokenizers
toml
tomli
torch
torchaudio
torchvision
tornado
tqdm
typing-inspection
typing_extensions
typing_inspect
tzdata==2025.2
uc-micro-py==1.0.3
unicodedata2
urllib3
uvicorn==0.34.2
watchfiles==1.0.5
websockets==15.0.1
win_inet_pton
yarl
zipp
zstandard==0.23.0
